* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  html, body{
    height: 100%;
 }

  .header{
    position: relative;
    height:25px ;
    background-color: rgb(155, 46, 97);
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:medium;
    z-index: 10;
    -webkit-box-shadow: 3px 6px 35px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 6px 35px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 35px -2px rgba(0, 0, 0, 0.205);
  }  
.background {
    width: 100%;
    height: 100%;
    background: white;
}

  
.menu ul{
    position: sticky;
    top: 0;
    z-index: 10;
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none; ;
    margin: 0 50px;
    color: rgb(155, 46, 97);
    font-size: large;
    cursor: pointer;
  }
.logo img{
    width:150px;
    margin-top: -7px;
    margin-right: 48px;
}
